# Gitignore for litium Accelerator

*.user
*.suo
litium*.log
elasticsearch*.log
License*.config

bin/
obj/
packages/
node_modules/

src/Files/
src/Web/App_Data/
src/Litium.Accelerator.Mvc/App_Data/
.vs/
src/Litium.Accelerator.FieldTypes/npm-debug.log
*.xml
/Src/Files/Search/Categories/segments.gen
/Src/Files/Search/Categories/segments_2
/Src/Files/Search/Categories/write.lock
/Src/Files/Search/Deliveries/segments.gen
/Src/Files/Search/Deliveries/segments_2
/Src/Files/Search/Deliveries/write.lock
/Src/Files/Search/Orders/segments.gen
/Src/Files/Search/Orders/segments_2
/Src/Files/Search/Orders/write.lock
/Src/Files/Search/Pages/segments.gen
/Src/Files/Search/Pages/segments_2
/Src/Files/Search/Pages/write.lock
/Src/Files/Search/Payments/segments.gen
/Src/Files/Search/Payments/segments_2
/Src/Files/Search/Payments/write.lock
/Src/Files/Search/Products/segments.gen
/Src/Files/Search/Products/segments_2
/Src/Files/Search/Products/write.lock
/Src/Files/solution.eventid
/Src/Files/solution.test
/Src/Litium.Accelerator.Mvc/App_Data/LitiumDB_9dab278e7e.mdf
/Src/Litium.Accelerator.Mvc/App_Data/LitiumDB_9dab278e7e_log.ldf
