@using Litium.Web.Models;
@using Litium.Accelerator.Constants;
@using System.Drawing;

@model Litium.Accelerator.ViewModels.AdminPortalLayout.AdminPortalLayoutViewModel

<div class="row">
    @Model.Title
</div>
<div class="row">
    @Model.Text
</div>